.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(130ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
.jobs {
    background-color: #EED3D1;
    width: 200px;
    margin-left: 10px;
}
.events {
    background-color: #D1E9EE;
    width: 200px;
    margin-left: 10px;
}
.projects {
    background-color: #EDD1EE;
    width: 200px;
    margin-left: 10px;
}

.buttons {
    padding-bottom: 50px;
    padding-top: 50px;
}



img {
    width: 500px;
    float: right;

}
