
/* body {
       background: linear-gradient(90deg, #FFFFFF 60%, white 40%);

} */


.goBack {
    margin-top: 60px;
    margin-left: 20px;
}
.create {
    margin-top: 15px;
    margin-right: 20px;
    float: right;
    background-color: cadetblue;

}

h1 {
    margin-left: 40px;
}

    