
.jobmodal {
  border-style: solid;
  border-width: 10px;
  border-color: #EED3D1;
}
.eventmodal {
  border-style: solid;
  border-width: 10px;
  border-color: #D1E9EE;;
}
.projectmodal {
  border-style: solid;
  border-width: 10px;
  border-color: #EDD1EE;
}